extends layout

block head
	script.
		var active_canvas = 0;
	script(src='/javascripts/jcanvas.min.js')
	script(src='/javascripts/canvas-letters.js')
	script(src='/javascripts/canvas-segmentation.js')
	script(src='/javascripts/letters.js')

block content
	nav(class="navbar navbar-default navbar-fixed-top")
		div(class="container")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand" href="#") TextRecog
			div(id="myNavbar" class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					li.active
						a(href="#home" data-toggle="tab") Home 
					li
						a(href="#letters" data-toggle="tab") Letters
					li
						a(href="#segmentation" data-toggle="tab") Segmentation
					li
						a(href="#test" data-toggle="tab") Test
	
	div(id="success-alert" class="alert alert-dismissible alert-success")
		p <strong> Succesfully stored! </strong>
	div(id="fail-alert" class="alert alert-dismissible alert-danger")
		p <strong> Error saving image! </strong>
	div(id="finish-alert" class="alert alert-dismissible alert-success")
		p <strong> Segmentation finished. Thank you! </strong>
	
	.container
		.jumbotron
			div(class="tab-conent")
				div(class="tab-pane fade active in" id="home" )
						p Help us, please.
						p Instructions:
						.line Draw with your mouse inside the canvas the corresponding letter. 
						.line You can erase if you make a mistake, just click on "Clear". 
						.line When you're done with that letter click on "Save" (you must save each letter) and move on to the next number to continue. <br><br>
						p Thank you!
				div(class="tab-pane fade" id="letters")
					.row
						h2#tLetter
					- for (var i = 0; i < 52; i++)
							.row
								div(id="canvas-container-"+i style="display:"+(i > 0 ? "none" : ""))
									.row
										canvas(id="canvas-"+i width="100" height="100")
											p Looks like your browser doesn't support the canvas API.
									.row
										a(id="clearBtn-"+i href="#" class="btn btn-default") Clear
										a(id="saveBtn-"+i href="#" class="btn btn-primary") Save
					.row
						#pag_letters
				div(class="tab-pane fade" id="segmentation")
					.row
						h2#tText The quick brown fox 
					.row
						canvas(id="canvasSeg" width="300" height="100" style="z-index:0;")
						canvas(id="canvasSel" width="300" height="100" style="z-index:1; display:none")
					.row
						canvas(id="canvasRes" width="100" height="100")
					.row
						p(class="bs-component")
							a(id="clearBtn" href="#" class="btn btn-default") Clear
							a(id="startSegBtn" href="#" class="btn btn-primary") Start Segmentation
					.row
						p(class="bs-component")
							a(id="yesSegBtn" href="#" class="btn btn-primary decSegBtn" disabled) Yes
							a(id="noSegBtn" href="#" class="btn btn-primary decSegBtn" disabled) No
				div(class="tabe-pane fade" id="test")