doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

    script(src='/javascripts/jquery-2.2.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src="/javascripts/bootpag.js")
    
    block head
  body
    block content
