body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  margin: 2em auto;
  max-width: 100%;
  outline: 2px solid #444;
}

.jumbotron
{
	margin-top: 65px;
	text-align: center;
}

.btn
{
	margin-right: 10px;
}

.tab-pane:not(.active) {
	display: none;
}

.pagination.bootpag > li:not(.disabled):not(.next) > a {
	color: #244363;
}

.pagination.bootpag > li > a {
	font-size: 15px;
}

.pagination > li.next:not(:hover):not(.disabled) > a {
	background-color: #29abe0;
	color: white;
}

.pagination > li.prev:not(:hover):not(.disabled) > a {
	background-color: #29abe0;
	color: white;
}

.pagination > li.last:not(:hover):not(.disabled) > a {
	background-color: #29abe0;
	color: white;
}

.pagination > li.first:not(:hover):not(.disabled) > a {
	background-color: #29abe0;
	color: white;
}


.pagination > li.next:hover:not(.disabled) > a {
	background-color: #244363;
	color: white;
}

.pagination > li.prev:hover:not(.disabled) > a {
	background-color: #244363;
	color: white;
}

.pagination > li.last:hover:not(.disabled) > a {
	background-color: #244363;
	color: white;
}

.pagination > li.first:hover:not(.disabled) > a {
	background-color: #244363;
	color: white;
}

.alert {
	margin-top: 20px;
    width: 20%;
    text-align: center;
    display: none;
    float: right;
}
